<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>

<header>
  <div class="container">
    <a href="/">Home</a>
    <a href="/products">Shop</a>
    <a href="/login">Profile</a>
    <a href="/cart">Cart</a>
  </div>
</header>

<div class="container">
  <h2>Shop</h2>

  <form>
    <input name="q" value="<%= q %>" placeholder="Search product">
    <button>Search</button>
  </form>

  <div class="grid">
    <% products.forEach(p => { %>

    <div class="card"
         data-image="<%= p.image %>"
         data-name="<%= p.name %>"
         data-price="<%= p.price %>"
         data-description="<%= p.description %>"
         data-user="<%= p.username %>"
         data-review="<%= p.review   || 'Very good product!' %>">

      <img src="<%= p.image %>">
      <h3><%= p.name %></h3>
      <p><%= p.description %></p>
      <p class="price">$<%= p.price %></p>

      <a class="btn" href="/add-to-cart/<%= p.id %>">Add to cart</a>
    </div>

    <% }) %>
  </div>
</div>

<!-- MODAL -->
<div id="productModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

    <img id="modalImage">

    <h2 id="modalName"></h2>
    <p id="modalPrice"></p>
    <p id="modalDescription"></p>

    <h3>Reviews</h3>
    <div id="reviews">
      <div class="review">
        <strong id="reviewUser"></strong>
        <p id="reviewText"></p>
      </div>
    </div>
  </div>
</div>

<!-- FEEDBACK BUTTON -->
<div id="feedbackBtn">Feedback</div>

<!-- FEEDBACK MODAL -->
<div id="feedbackModal" class="feedback-modal">
  <div class="feedback-content">
    <span class="feedback-close">&times;</span>

    <h2>Feedback</h2>

    <input id="fbName" placeholder="Your name">
    <textarea id="fbText" placeholder="Your feedback"></textarea>

    <button id="fbSend">Send</button>
  </div>
</div>

<script src="/js/home.js"></script>
</body>
</html>
